.content{
    grid-area: c;
    /*background-color: blue;*/
}

.content img{

    border-radius: 100px;
    border: 3px solid #FFC700;
    box-shadow: 0 0 7px #666; /* Параметры тени */

    width:100px;
    heigth:100px;
}
.item{
    color:green;
}