
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 5px;
}

.dialogItems {

}

.photo img {
    width: 40px;
    padding: 5px;
}

.messages {

}

.message {
    padding: 15px;
}